# This is the mount point for the repo to be indexed, the default is /tmp/node-gitdb
#GITDB_MOUNTPOINT=/tmp/node-gitdb

# This is the Git URL of the repo to be indexed
GITDB_REPO=

# Setting this to true will cause the repo to be cloned recursively
GITDB_REPO_RECURSIVE=true

# This is the branch to be indexed
#GITDB_REPO_BRANCH=main

# This is the path within the repo to the root of the data to be indexed
#GITDB_PATH=/

# This pipe (|) delimited list of file names to exclude from indexing (in all tables)
#GITDB_EXCLUDE_FILES=template.md

# This is the URI to your mongo database
# mongodb://<username>:<password>@<host>:<port>/<database>?authSource=admin
MONGO_URI=mongodb://node-gitdb:dbPassword!ChangeMe@mongo:27017/node-gitdb?authSource=admin

# This is the port that the server will listen on
#HOST=localhost

# This is the port that the server will listen on
#PORT=3000